<!-- view comment -->
<div class="col">
  <div class="card m-2">
    <div class="card-header comment-bg">
      <div class="action-txt">Comment</div>
    </div>
    <div class="card-body body-bg">
      <div class="comment-txt">Comment</div>
      <figcaption class="blockquote-footer source-txt">
        Username, <cite title="Date">Date</cite>
      </figcaption>
    </div>
  </div>
</div>