<!-- view-post -->
<div class="col">
  <div class="card m-2">
    <div class="card-header post-header post-bg">
      <span class="post-title-txt">Post Title</span>
      <span class="post-user-txt">Posted by User on Date</span>
    </div>
    <div class="card-body body-bg">
      Post Content
    </div>
  </div>
</div>
<!-- view post -->