<!-- view-post -->
{{> post}}

<!-- create comment -->
<div class="col">
  <div class="card m-2">
    <div class="card-header comment-bg">
      <div class ="action-txt">Add Comment</div>
    </div>
    <div class="card-body body-bg">
      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea class="form-control" id="comment" rows="3"></textarea>
      </div>
      <div class=>
        <button class="btn btn-bg btn-txt" type="button">Submit</button>
      </div>
    </div>
  </div>
</div>

<script src="./js/create-comment.js"></script>