<!-- render posts -->
{{#each posts as |post|}}
{{> post}}
{{/each}}

<!-- new post button -->
<div class="text-center">
  <a class="btn btn-bg btn-txt" href="/dashboard/create" role="button">New Post</a>
</div>