<!-- main -->
<main class="mb-3">
  <div class="container">
    <div class="row row-cols-1 g-2 align-item-center justify-content-center">
      <!-- render posts-->
      {{#each posts as |post|}}
      {{> post}}
      {{/each}}
    </div>
  </div>
</main>